<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>
    <!--Add css here-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Reza Ramadhansyah Putra</h1>
        <p>
            Every day, I imagine a future where I can be with you
        </p>
        <p>
            In my hand is a pen that will write a poem of me and you
        </p>
        <p>
            The ink flows down into a dark puddle
        </p>
        <p>
            Just move your hand - write the way into his heart!
        </p>
        <p>
            But in this world of infinite choices
        </p>
        <p>
            What will it take just to find that special day?
        </p>
        <table class="table">
            <tr>
                <td>Tanggal Lahir</td>
                <td>13 Januari 1997</td>
            </tr>
            <tr>
                <td>Tempat Lahir</td>
                <td>Jakarta</td>
            </tr>
            <tr>
                <td>Alamat</td>
                <td>Jl. Anggrek Neli Murni VIII No.44, Palmerah, SLipi, Jakarta Barat</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>rezaramadhansyah01@gmail.com</td>
            </tr>
        </table>
        <br>
        <h2>Education History</h2>
        <table class="table">
            <tr>
                <td>Agustus 2016 - Sekarang</td>
                <td>Universitas Indonesia</td>
            </tr>
            <tr>
                <td>2012 - 2015</td>
                <td>SMAN 78 Jakarta</td>
            </tr>
            <tr>
                <td>2009 - 2012</td>
                <td>SMPN 111 Jakarta</td>
            </tr>
            <tr>
                <td>2003 - 2009</td>
                <td>SDS Tunas Muda IKKT</td>
            </tr>
        </table>
    </div>
</body>
</html>